.transition-button{
    transition-duration: 0.5s;
    transition: all;
    background-color: blue;
}

.transition-button:hover{
    background-color: green;
}
.transition-div{
    transition: all;
    background-color: aqua;
    transition-duration: 1s;
    width: 100px;
}
.transition-div:hover{
    width: 200px;
}
.transition-text{
    background-color: chartreuse;
    transition-duration: 0.3s;
    font-size: 16px;
    transition: all;
}
.transition-text:hover{
    font-size: 24px;
}
.transition-image{
    opacity: 1;
    transition-duration: 0.8s;
    transition:all;
}
.transition-image:hover{
    opacity:0.5;
}